#main-table {
    border: 1px solid black;
}

div.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.maindiv {
    margin-top: 0.5%;
    margin-left: 13%;
    margin-right: 1%;
    
}
canvas{

    width:1000px !important;
    height:300px !important;
  
  }

.left {
    float: left;
    width: 60%
}
/* Clear floats after the columns */
.maindiv:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    div {
      width: 100%;
      height: auto;
    }
  }