

  
  #mainMap { position:absolute !important; top:11%!important; bottom:0!important; width:58%!important; height:80% !important; }
  img.rounded {
    width:100%;
    height:70%;
  }
  
  .grid-container { height: 100%; margin: 0; }
  .grid-container {
      
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 60% 40%;
      grid-template-areas: "map r_pi_image" "graph graph";
    }
    
    .map { 
        grid-area: map; 
        background-color: aqua;
        margin: 0.5%;
     }
    #maper{
      height: 100%;
      
    }
    .r_pi_image { 
        grid-area: r_pi_image; 
        
        margin: 0.5%;
     }
    body{
      background-color:whitesmoke;
    }
    .graph { 
        grid-area: graph; 
        background-color: green;
        margin: 0.5%;
     }
    
    


  
  @media (max-width: 600px ) {
    #mainMap { position:absolute !important; top:11%!important; bottom:0!important; width:150%!important; height:50% !important; }
    body{
        background-color:whitesmoke;
      }

        .grid-container { height: 100%; margin: 0; }
        .grid-container {
            display: grid;
            grid-template-columns: 100% 100%;
            grid-template-rows: 33.33% 33.33% 33.33%;
            grid-template-areas: "map map" "r_pi_image r_pi_image" "graph graph";
        }
        
        canvas{

            width:600px !important;
            height:300px !important;
          
          }
        .map { 
            grid-area: map; 
            
            margin: 0.5%;
            width: 49%;
        }
        
        .r_pi_image { 
            grid-area: r_pi_image; 
            
            margin: 0.5%;
            
            padding-top: 35%;
            width: 49%;
        }
        
        .graph { 
            grid-area: graph; 
            
            width: 70%;
            margin: 0.5%;
        }
  }